@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

.wrapper{
    /* border: 1px solid black; */
    width: 23%;
    height: 460px;
    margin: 70px auto 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

img{
    width: 100%;
}

main, .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary{
    padding: 0 20px;
    margin-top: 20px;
}

.summary-title{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.summary-desc{
    font-size: 10px;
    text-align: center;
    color: #6F748F;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-top: 10px;
}

.plan{
    /* border: 1px solid red; */
    background-color: #F8F9FE;
    width: 80%;
    height: 70px;
    border-radius: 6px;
    margin-top: 20px;
}

.icon, .price-section, .link{
    width: 60px;
    height: inherit;
    /* background-color: grey; */
    text-align: center;
    display: inline-block;
}

.icon{
    float: left;
}

.music-icon{
    margin-top: 12px;
    width: 70%;
}

.price-section{
    margin-left: 10px;
}

.plan-name{
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.price{
    margin-top: 12px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    color: #6F748F;
    font-size: 13px;
}

.link{
    float: right;
}

.change-link{
    margin-top: 20px;
}

.change-link a{
    /* font-size: 10px; */
    color: #5448C1;
    font-weight: 900;
    cursor: pointer;
}

.change-link a:hover{
    text-decoration: none;
}

.footer{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 20px;
}

.btn{
    width: 80%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    /* font-size: 11px; */
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 21px 19px 3px rgba(56,42,225,0.19);
    cursor: pointer;
}

.btn:hover{
    background-color: hsla(245, 75%, 52%, 0.5);
}

.cancel-div{
    margin-top: 20px;
}

.cancel{
    color: #6F748F;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    /* font-size: 10px; */
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
}

.cancel:hover{
    color: black;
}

@media screen and (max-width: 425px){
    .wrapper{
        width: 90%;
        margin-top: 40px;
        height: 470px;
    }

    .summary-title{
        font-size: 18px;
    }

    .summary-desc{
        line-height: 1.8;
        padding: 0 50px;
        font-size: 10px;
    }

    .plan{
        height: 60px;
        width: 90%;
    }

    .icon, .price-section, .link{
        width: 50px;
    }

    .music-icon{
        margin-top: 13px;
    }

    .price-section{
        margin-left: 5px;
        width: 70px;
    }

    .btn{
        font-size: 11px;
    }

    .link{
        margin-right: 10px;
    }

    .cancel{
        font-size: 10px;
    }

    .change-link a {
        font-size: 12px;
    }    
}


@media screen and (min-width: 1440px){
    .wrapper{
        height: 700px;
        margin-top: 80px;
        width: 30%;
        border-radius: 20px;
    }

    .hero{
        height: 250px;
    }

    .hero img{
        height: inherit;
    }

    .summary{
        margin-top: 50px;
    }

    .summary-desc{
        padding: 0 50px;
        font-size: 16px;
        text-align: center;
        line-height: 1.8;
        font-family: 'Red Hat Display', sans-serif;
        letter-spacing: 0;
    }

    .plan{
        height: 80px;
    }

    .music-icon {
        margin-top: 18px;
        margin-left: 17px;
        width: 80%;
    }

    .price-section {
        margin-left: 35px;
        width: 110px;
    }

    .plan-name{
        font-size: 18px;
    }

    .price{
        font-size: 20px;
    }

    .link{
        width: 90px;
    }

    .change-link {
        margin-top: 30px;
    }

    .footer{
        margin-top: 30px;
    }

    .btn{
        height: 50px;
    }

    .cancel-div{
        margin-top: 30px;
    }
}
